.upload_item {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 10px;
  width: 70%;
  height: calc(100vh - 1rem);
  padding: var(--padding-4);
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: var(--line-height-2);

  .upload_item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: var(--padding-4);
    h3 {
      margin-bottom: var(--space-3);
    }
    svg {
      font-size: var(--h3);
      cursor: pointer;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-3);

// product name and brand
    .product_name_container,
    .brand_container {
      label {
        position: relative;
        margin-bottom: var(--space-2);
      }
      label::after {
        position: absolute;
        content: "*";
        color: #000;
      }
    }
    span {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);
      margin-bottom: var(--space-3);
      label {
        font-weight: 500;
      }
      input {
        width: 100%;
        color: #24245c;
        background: #c8daff17;
        padding: var(--padding-1);
        border: 0.2px solid #c8daffd6;
        border-radius: var(--space-1);
        text-indent: 5px;
        outline: 0.5px lighten($color: #000000, $amount: 0) var(--color-gray);
      }
      input::placeholder,
      textarea::placeholder {
        color: #9696b4;
      }
    }


    // about product
    .about_product_container {
      margin: var(--space-2) 0;
      margin-top: var(--space-4);
      textarea {
        display: flex;
        flex-direction: column;
        padding: var(--padding-2);
        background: #c8daff09;
        border-radius: 10px;
      }
    }
// selection container
    .selection_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-2);
      select {
        width: 100%;
        color: #24245c;
        background: #c8daff17;
        padding: var(--padding-1);
        border: 0.2px solid #c8daffd6;
        border-radius: var(--space-1);
        text-indent: 5px;
        outline: 0.5px lighten($color: #000000, $amount: 0) var(--color-gray);
      }
      input::placeholder {
        color: #9696b4;
      }
    }

    // styling for dragbox
    #form-file-upload {
      height: 8rem;
      width: 100%;
      margin: var(--space-3) 0;
      #label-file-upload {
        border-radius: 0.2rem;
        border: 1px dashed #cbd5e1;
        svg {
          font-size: 2rem;
        }
        > div {
          display: flex;
          align-items: center;
        }
      }
    }

    // upload btn container
    .upload_product_btn {
      display: flex;
      justify-content: space-between;
      margin: var(--space-1) 0;
      width: 100%;
      button {
        color: var(--color-white);
        background: var(--btnColor);
        font-weight: 600;
        padding: 0.7rem 1.2rem;
        border: none;
        border-radius: var(--space-1);
        cursor: pointer;
      }
      .cancel {
        background: #ebeef2;
        color: #49497d;
      }
    }
  }
}
.upload_item::-webkit-scrollbar {
  width: 2px;
}
