.profile {
  display: flex;
  align-items: center;
  .icons {
    display: flex;
    align-items: center;
    div {
      font-size: 1.2rem;
      color: #9696b4;
      padding: 4px;
    }
  }
  .profile-logo {
    display: flex;
    gap: 0.3em;
    align-items: center;
    padding-left: 0.4em;
    margin-left: 0.3em;
    border-left: 2px solid #a7b7c8;
    width: 100%;
    .img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 3vmin;
    }
    .downIcon {
      display: flex;
      height: 100%;
      align-items: center;
      cursor: pointer;
      font-size: 1.5em;
      color: #9696b4;
    }
  }
}
