@import "./dashboardUI/Edulance/edulance.scss";
@import "./dashboardUI/Sidebar.scss";
// navcontainer
@import "./dashboardUI/Nav/navbar.scss";
@import "./dashboardUI/Nav/navProfile.scss";
//edulance
@import "./dashboardUI/Edulance/Filter.scss";
@import "./dashboardUI/Edulance/post.scss";
@import "./dashboardUI/Edulance/ShootShot/ShotPage.scss";
@import "./dashboardUI/Edulance/ShootShot/ShotForm.scss";
@import "./dashboardUI/Edulance/ShootShot/Period.scss";
//community
@import "./dashboardUI/Community/Community.scss";
@import "./dashboardUI/Community/Post/Postshare.scss";
@import "./dashboardUI/Community/Post/PostUploads.scss";
@import "./dashboardUI/Community/Events/EventsContainer.scss";
@import "./dashboardUI/Community/Events/PostEvent.scss";
@import "./dashboardUI/Community/Events/Drapdrop.scss";

*,
::after ,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}