.post-share {
  display: flex;
  width: 100%;
  background: var(--p-backgroundColor);
  padding: 10px;
  gap: .5rem;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .sh-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: calc(100% - 4rem);
    input[type="search"] {
      width: 100%;
      padding: 7px;
      border: 1px solid #f3f3f4;
      background: #e8e8ef;
      border-radius: 5px;
    }
    .sh-items {
      display: flex;
      gap: 1.7rem;
      > div {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f6f7f7;
          border-radius: 10px;
          padding: 3px;
          cursor: pointer;
          gap: .2rem;
        p {
          font-size: 0.8rem;
          font-weight: 600;
          color: #49497d;
        }
      }
      // font-size: 1.3rem;
      .photo {
        svg {
          font-size: 1.2rem;
          color: #45bd62;
        }
      }
      .video {
        svg {
          font-size: 1.2rem;
          color: #f0415e;
        }
      }
      .event {
        svg {
          font-size: 1.1rem;
          color: #f7b928;
        }
      }
    }
  }
}
