.post_share_container {
  width: 100%;
  background: var(--color-white);
  padding: var(--space-3);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md) ;

  /* ====================================
             post preview
    ===================================== */
  .post_preview {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 100%;
    .preview_nav {
      margin-bottom: var(--space-2);
    }
    // height: 300px;
    img,
    video {
      width: 100%;
      height: 300px;
      border-radius: 0;
    }
    textarea {
      width: 100%;
      // min-height: 130px;
      font-family: "Poppins", sans-serif;
      text-indent: 0.2rem;
      padding: var(--space-1);
      margin-bottom: var(--space-1);
      border-radius: var(--space-1);
      outline: 0.1px lighten($color: #000000, $amount: 0) var(--color-gray);
    }
    .tag_friends {
      align-self: flex-start;
      border: none;
      outline: none;
      background: none;
      color: #004b82;
      cursor: pointer;
    }
    .post_btn {
      display: flex;
      justify-content: space-between;
      margin: var(--space-1) 0;
      width: 100%;
      button {
        color: var(--color-white);
        background: var(--btnColor);
        font-weight: 600;
        padding: 0.7rem 1.2rem;
        border: none;
        border-radius: var(--space-1);
        cursor: pointer;
      }
      .cancel {
        background: #ebeef2;
        color: #49497d;
      }
    }
  }

  /* ======================================
       post share 
    =====================================*/
  .post_share {
    display: flex;
    width: 100%;
    background: var(--color-white);
    gap: 0.7rem;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    .sh_content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: calc(100% - 4rem);
      input[type="search"] {
        width: 100%;
        padding: 7px;
        border: 1px solid #f3f3f4;
        background: #e8e8ef;
        border-radius: 5px;
      }
    }
  }
  /* ================================================================
     sh items (image ,video , event icon button container 
     ============================================================ */
  .sh_items {
    display: flex;
    margin: var(--space-1) 0;
    gap: 1.7rem;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f6f7f7;
      border-radius: 10px;
      padding: 3px;
      cursor: pointer;
      gap: 0.2rem;
      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #49497d;
      }
    }
    // font-size: 1.3rem;
    .photo {
      svg {
        font-size: 1.2rem;
        color: #45bd62;
      }
    }
    .video {
      svg {
        font-size: 1.2rem;
        color: #f0415e;
      }
    }
    .event {
      svg {
        font-size: 1.1rem;
        color: #f7b928;
      }
    }
  }
}
