.App {
  /* position: relative; */
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-size: normal;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}
input {
  border: none;
  outline: none;
}
input::placeholder {
  color: #9696B4;
}
textarea {
  resize: none;
  color: #9696B4;
  background: #c8daff17;
  border: 0.2px solid #c8daffd6;
}

/* ==============================
    mobile screen is not ready
    ============================== */
@media (max-width: 768px) {
  .App {
    display: none;
  }
}
