.edulance {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .content {
    display: flex;
    flex-direction: column;
    background: var(--bColor);
    width: 100%;
    height: 100%;
    padding: 1rem 2.2em;
    overflow-y: auto;
    gap: 0.2em;

    .post-date {
      display: flex;
      justify-content: space-between;
      height: 50px;

      :first-child {
        .recent-project {
          color: #101828;
          font-weight: 600;
        }
        p {
          font-size: var(--h6);
          color: #667085;
        }
      }
      button {
        padding: 0.1em 1em;
        border-radius: 7px;
        border: none;
        background: var(--btnColor);
        width: 9rem;
        color: var(--color-white);
        cursor: pointer;
      }
    }
    .post-container {
      display: flex;
      margin-top: 0.5em;
      height: calc(145vh - 120px);
      gap: 1em;
      scroll-behavior: smooth;

      .posts {
        display: flex;
        flex-direction: column;
        gap: .5em;
        border-radius: 3px;
      }
    }
  }
}
