.filter {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #fff;
    padding: .12em 1.5em;
    border-radius: 3px;
    // min-height: 100;
    hr {
        border-width: 0;
        border-top: 1px solid #d0d5dd;
       margin-top: 1rem;
       align-self: center;
    }
    input[type="checkbox"] {
        width: 1.15em;
        height: 1.15em;
        cursor: pointer;

    }
    label + label {
        margin-top: var(--space-2);
    }
    label {
        display: flex;
        align-items: center;
        gap: .5em;
    }
    h4 {
        margin:.5em 0 .8em 0;
        // font-weight: 600;
    }
    .filter-content {
        .speciality {
        display: flex;
        flex-direction: column;
        }
        input[type="search"] {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #E8E8EF;
        }
        input[type="search"]::placeholder {
            color: #b5b5b8;
        }
    }
    .budget {
    display: flex;
    flex-direction: column;
    }
    button {
        background: var(--btnColor);
        padding: .8rem 1em;
        width: 90%;
        border-radius: 7px;
        border: none;
        margin-top: 1rem;
        color: #ffffff;
        align-self: center;
        cursor: pointer;
    }
}