.job-post-container {
    display: grid;
    grid-template-columns: 50px auto 0.2fr;
    align-items: flex-start;
    border-radius: 10px;
    padding: 1em;
    background: #fff;
    gap: .75em;

    .job-post-content {
      .job-name-details {
        display: flex;
        align-items: center;
        gap: 0.2em;
        .username {
          font-size: var(--h6);
          color: #667085;
        }
        .time-posted {
          font-size: var(--h5);
        }
        .name {
          color: #1d2939;
          font-size: 1.2rem;
          font-size: 600;
        }
      }
      .job-title {
        font-size: var(--h3);
        font-weight: 600;
      }
      .text {
        margin: var(--space-2) 0;
      }
      .btns {
        display: flex;
        // flex-wrap: wrap;
        width: 100%;
        gap: 1em;
        .prof-data {
          font-size: var(--h5);
          padding: 3px 8px;
          padding-bottom: 4px;
          background: #bfd3fa28;
          border-radius: 5px;
          color: #667085;
        }
      }
    }
    .amt {
      color: #101828;
      font-weight: 500;
      font-size: 3vmin;
    }
    .job-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
